header{
    background-color: bisque;
    text-align: center;
    padding: 20px;

}
footer{
    position: fixed;
    background-color: bisque;
    font-style: italic;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}
table{
    text-align: center;
    width: 500px;
    height: 300px;
}
td:hover{
    background-color: rgb(170, 161, 162);
}